


body
{
    background-color: #A74482;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;

    text-align: left;
}

.title_style
{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}
.content
{
    flex: 1;
}

footer
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

header nav ul
{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

header nav a
{
    text-decoration: none;
    color: inherit;
}

html, body
{
    height: 100%;
    margin: 0;
}



.button_inf
{
    height: 1cm;
    width: 5cm;


}

