


body
{
    background-color: #A74482;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}





.button_inf
{
    height: 1cm;
    width: 5cm;


}